<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.melissa.kapperitivo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="e.melissa.kapperitivo.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="e.melissa.kapperitivo.ConfermaOrdineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="e.melissa.kapperitivo.CameriereActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gian2.apperitivogmm.activities.OrdinaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gian2.apperitivogmm.activities.ContoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="e.melissa.kapperitivo.VediOrdiniActivity"
            android:label="@string/title_activity_vedi_ordini"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>